[submodule "projects/accessory"]
	path = projects/accessory
	url = https://github.com/mohamadreza1388/accessories_decorative
[submodule "projects/travel"]
	path = projects/travel
	url = https://github.com/mohamadreza1388/travel
[submodule "projects/mahdis"]
	path = projects/mahdis
	url = https://github.com/mohamadreza1388/mahdis-mezon
[submodule "projects/coffee"]
	path = projects/coffee
	url = https://github.com/mohamadreza1388/coffee
